# Banco de Dados SQLite
DATABASE_PATH=./nox-finance.db

# Segredo do webhook ( Evolution API )
WEBHOOK_SECRET=nox-secret-key-mude-depois

# URL do seu banco Supabase (opcional, deixe vazio para usar SQLite local)
SUPABASE_URL=
SUPABASE_KEY=
